body{
    background: #BAECCB ;
    color:black;
    margin: 0.4%;
    padding: 0.4%;
}
a:hover::before{
    text-decoration: underline;
}
.heading{
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: saddlebrown;
}
.container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-img{
    margin-right: 3rem;
}
.container-img img{
    max-width: 100px;
    height: auto;

}
