{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form%}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"/>
{%endblock%}
{% block title %}Select A Movie{% endblock %}

{% block content %}
<div class="content">
    <ul>
    {%for result in movies_dict['results']: %}
    <li>
        <div class="container-content">
        <a href="{{url_for('add_selected_movie', id=result['id'])}}" class="movie-link">
            <h1 class="heading">{{result['original_title']}}</h1>
        </a>
            <div class="container-img">
                <img src="https://image.tmdb.org/t/p/original/{{result['poster_path']}}" alt="about-image">
            </div>
        </div>
    </li>
    {%endfor%}
</ul>
</div>
{% endblock %}